<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Perfil do usu치rio</title>
  </head>
  <body>
    <h1>Perfil do usu치rio</h1>
    <!-- Mostrar o nome do usu치rio que fez login com o Github -->
    <p>Ol치, <%= username %>!</p>
  </body>
</html>
